HELP.md
!.mvn/wrapper/maven-wrapper.jar

### Eclipse ###
.classpath
.project
.settings
bin
target

### STS ###
.apt_generated
.apt_generated_tests
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### log ###
*.log
logs

### other ###
misc.xml
Project_Defautl.xml
vcs.xml
